.home-page {

    .home-opening {
        display: grid;
        row-gap: 1rem;
        padding-inline: 10rem;
        margin-block-start: -5rem;
        padding-block-start: 15rem;
        padding-block-end: 5rem;


        background-image: url('../../imgs/quantex/home-bg.png');
        background-size: cover;
        background-position: top center;
        color: var(--light-txt);

        h1{
            align-self: end;
        }


        img{
            justify-self: center;
            grid-column: 2;
            grid-row: 1/ span 2
        }
    }

    .overview {
        display: grid;
        row-gap: 1rem;
        column-gap: 6rem;

        padding-inline: 10rem;
        padding-block: 10rem;

        h4{
            align-self: end;
        }

        p{
            max-width: 770px;
        }

        p .p-gap {
            display: block;
            height: 1rem;
        }

        .overview-gif {
            justify-self: center;
            grid-column: 2;
            grid-row: 1/ span 2;
            display: block;
            max-width: 250px;
            margin-block-start: 2rem;
        }
    }

    .problem-solution {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem 6rem;
        padding-inline: 10rem;
        padding-block: 5rem;
        background-color: var(--light-bg);

        .problem-solution-heading {
            font-size: 1.75rem;
            font-weight: 700;
            color: var(--dark-grey);
            margin-block-end: 1rem;
        }

        .problem-solution-col p {
            color: var(--main-txt);
            font-size: 1rem;
            line-height: 1.6;
            margin: 0;
        }
    }

    .project-details {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem 4rem;
        padding-inline: 10rem;
        padding-block: 5rem;
        background-color: #fff;
        max-width: 1100px;
        margin-inline: auto;

        .project-details-heading {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--dark-grey);
            margin-block-end: 1rem;
        }

        .project-details-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                color: var(--main-txt);
                font-size: 1rem;
                line-height: 1.8;
            }
        }
    }
}
 