.home-page {

    .home-opening {
        display: grid;
        row-gap: 1rem;
        padding-inline: 10rem;
        margin-block-start: -5rem;
        padding-block-start: 15rem;
        padding-block-end: 5rem;


        background-image: url('../../imgs/quantex/home-bg.png');
        background-size: cover;
        background-position: top center;
        color: var(--light-txt);

        h1{
            align-self: end;
        }


        img{
            justify-self: center;
            grid-column: 2;
            grid-row: 1/ span 2
        }
    }

    .overview {
        display: grid;
        row-gap: 1rem;
        column-gap: 6rem;

        padding-inline: 10rem;
        padding-block: 10rem;

        h4{
            align-self: end;
        }

        p{
            max-width: 770px;
        }

        p .p-gap {
            display: block;
            height: 1rem;
        }

        .overview-gif {
            justify-self: center;
            grid-column: 2;
            grid-row: 1/ span 2;
            display: block;
            max-width: 250px;
            margin-block-start: 2rem;
        }
    }

    .problem-solution {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem 6rem;
        padding-inline: 10rem;
        padding-block: 5rem;
        background-color: var(--light-bg);

        .problem-solution-heading {
            font-size: 1.75rem;
            font-weight: 700;
            color: var(--dark-grey);
            margin-block-end: 1rem;
        }

        .problem-solution-col p {
            color: var(--main-txt);
            font-size: 1rem;
            line-height: 1.6;
            margin: 0;
        }
    }

    .project-details {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem 4rem;
        padding-inline: 10rem;
        padding-block: 5rem;
        background-color: #fff;
        max-width: 1100px;
        margin-inline: auto;

        .project-details-heading {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--dark-grey);
            margin-block-end: 1rem;
        }

        .project-details-list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                color: var(--main-txt);
                font-size: 1rem;
                line-height: 1.8;
            }
        }
    }

    .home-page-carousel {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        overflow-x: clip;
        margin-block-end: 10rem;

        .imgs-carousel {
            width: 100%;
            height: 550px;
            --imgs-carousel-slide-height: 550px;
        }
    }

    .research-personas {
        padding-inline: 2rem;
        padding-block: 3rem 5rem;
        max-width: 1200px;
        margin-inline: auto;

        .research-personas-heading {
            font-size: clamp(1.5rem, 3vw, 2rem);
            font-weight: 700;
            color: var(--dark-grey);
            margin: 0 0 0.5rem 0;
        }

        .research-personas-subtitle {
            font-size: 1.25rem;
            font-weight: 700;
            color: var(--dark-grey);
            margin: 0 0 1rem 0;
        }

        .research-personas-intro {
            color: var(--main-txt);
            font-size: 1rem;
            line-height: 1.6;
            margin: 0 0 2.5rem 0;
            max-width: 720px;
        }

        .research-personas-imgs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        @media (max-width: 900px) {
            .research-personas-imgs {
                grid-template-columns: 1fr;
            }
        }

        .research-personas-img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    .research-empathy {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1.1fr);
        gap: 3rem 4rem;
        align-items: start;
        padding-inline: 2rem;
        padding-block: 3rem 5rem;
        max-width: 1200px;
        margin-inline: auto;
    }

    .research-empathy-text {
        grid-column: 1;
    }

    .research-empathy-fig {
        grid-column: 2;
        display: flex;
        justify-content: flex-end;
        align-items: start;
    }

    .research-empathy-img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 900px) {
        .research-empathy {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        .research-empathy-text,
        .research-empathy-fig {
            grid-column: 1;
        }

        .research-empathy-fig {
            justify-content: center;
        }
    }

    .research-empathy-heading {
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-weight: 700;
        color: var(--dark-grey);
        margin: 0 0 0.5rem 0;
    }

    .research-empathy-subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--dark-grey);
        margin: 0 0 1rem 0;
    }

    .research-empathy-p {
        color: var(--main-txt);
        font-size: 1rem;
        line-height: 1.6;
        margin: 0 0 1rem 0;
    }

    .research-empathy-p:last-of-type {
        margin-block-end: 0;
    }

    .ideation-user-stories {
        padding-inline: 2rem;
        padding-block: 3rem 5rem;
        max-width: 1200px;
        margin-inline: auto;
    }

    .ideation-user-stories-heading {
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-weight: 700;
        color: var(--dark-grey);
        margin: 0 0 2rem 0;
    }

    .ideation-block {
        margin-block-end: 2.5rem;
    }

    .ideation-block:last-child {
        margin-block-end: 0;
    }

    .ideation-block-title {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--dark-grey);
        margin: 0 0 0.75rem 0;
    }

    .ideation-block-p {
        color: var(--main-txt);
        font-size: 1rem;
        line-height: 1.6;
        margin: 0 0 1.5rem 0;
    }

    .ideation-sticky-notes {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: flex-start;
        margin-block-end: 1.5rem;
    }

    .ideation-sticky-note-img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 200px;
        object-fit: contain;
    }

    .ideation-hmw-list {
        margin: 0;
        padding-left: 1.5rem;
        color: var(--main-txt);
        font-size: 1rem;
        line-height: 1.7;
    }

    .ideation-hmw-list li {
        margin-block-end: 0.5rem;
    }

    .ideation-hmw-list li:last-child {
        margin-block-end: 0;
    }

    .ideation-mapping {
        padding-inline: 2rem;
        padding-block: 3rem 5rem;
        max-width: 1200px;
        margin-inline: auto;
    }

    .ideation-mapping-heading {
        font-size: clamp(1.5rem, 3vw, 2rem);
        font-weight: 700;
        color: var(--dark-grey);
        margin: 0 0 0.5rem 0;
    }

    .ideation-mapping-subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--dark-grey);
        margin: 0 0 1rem 0;
    }

    .ideation-mapping-p {
        color: var(--main-txt);
        font-size: 1rem;
        line-height: 1.6;
        margin: 0 0 1.5rem 0;
    }

    .ideation-mapping-img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
 