.app-footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-block: 2rem;
  margin-inline: 6rem;
  margin-block: 10rem;
  border-top: 1px solid var(--main-txt);


  > img {
justify-self: end;
    width:70px;
    grid-row: span 2;
  }

  > p {
    margin:0;
    font-size: 1.2rem;
    color: var(--dark-grey);

    &.msg {
      font-size: 2rem;
    }

    &.email {
      grid-row: 2;
      font-size: 0.9rem;
    }
  }

  .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
  }

  
}
