.stepper-header {
  background-color: var(--baby-blue-bg);
  padding-block: 2.5rem;
  padding-inline: 2rem;
  text-align: center;

  .stepper-header-title {
    margin: 0;
    font-weight: 700;
    font-size: 3.4rem;
    color: var(--dark-grey);
    letter-spacing: 0.02em;
  }
}
