.stepper-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;

  padding-block: 1.5rem;
  padding-inline: 2rem;
  margin-block-end: 15rem;

  background-color: var(--white-bg);

  .stepper {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin-inline: auto;

    .stepper-connector {
      flex: 1;
      min-width: 20px;
      height: 0;
      border-top: 1px solid var(--dark-grey);
      margin-inline: 1.5rem;
      margin-top: 35px;
      align-self: flex-start;
    }

    .stepper-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 auto;

      .stepper-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          font-weight: 700;
          font-size: 2rem;
          background-color: #fff;
          border: 1px solid var(--dark-grey);
          color: var(--dark-grey);
          flex-shrink: 0;

          &.active {
            background-color: var(--dark-grey, #363636);
            border-color: var(--dark-grey, #363636);
            color: #fff;
          }
        }

      .stepper-label {
        margin-block-start: 0.75rem;
        font-size: 1.14rem;
        color: var(--dark-grey);
        text-align: center;
      }
    }
  }
}
