.projects-layout > .stepper-sentinel,
.projects-layout > .stepper-container {
  grid-column: 1 / -1;
}

.stepper-sentinel {
  height: 1px;
  width: 100%;
  pointer-events: none;
}

.stepper-container {
  grid-column: 1/-1;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--white-bg);

  &.is-sticky {
    border-bottom: 1px solid #c6c6c6;
  }

  .stepper-wrapper {
    padding-block: 1.5rem;
    max-width: 73rem;
    margin-inline: auto;

    &.is-sticky {
      max-width: 117rem;
    }
  
    .stepper {
      display: flex;
      align-items: flex-start;
      margin-inline: auto;
  
      .stepper-connector {
        flex: 1;
        height: 0;
        border-top: 1px solid var(--dark-grey);
        margin-inline: 1.5rem;
        margin-top: 25px;
        align-self: flex-start;
      }
  
      .stepper-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
  
        .stepper-circle {
          display: grid;
          place-items: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          font-weight: 700;
          background-color: #fff;
          border: 1px solid var(--dark-grey);
          color: var(--dark-grey);
          flex-shrink: 0;
          padding: 0;
          cursor: pointer;
  
            &.active {
              background-color: var(--dark-grey, #363636);
              border-color: var(--dark-grey, #363636);
              color: #fff;
            }
  
            .is-sticky & {
              width: 50px;
              height: 50px;
            }
          }
  
        .stepper-label {
          margin-block-start: 0.75rem;
          color: var(--dark-grey);
          text-align: center;
          background: none;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
        }
      }
  
      .is-sticky & {
        max-width: 90%;
      }
    }
  }

}


