.projects-layout>.stepper-sentinel,
.projects-layout>.stepper-container {
  grid-column: 1 / -1;
}

.stepper-sentinel {
  height: 1px;
  width: 100%;
  pointer-events: none;
}

.stepper-container {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--white-bg);

  &.is-sticky {
    border-bottom: 1px solid #c6c6c6;
  }

  .stepper-wrapper {
    justify-self: center;
    grid-column: 2;
    width: 100%;
    max-width: 65rem;
    display: grid;
    place-items: center;
    margin-block: 1.5rem;

    .stepper {
      display: grid;
      grid-template-columns: 6rem 1fr 6rem 1fr 6rem 1fr 6rem;
      width: 100%;

      .stepper-connector {
        flex: 1;
        height: 0;
        border-top: 1px solid var(--dark-grey);
        margin-top: 32px;
        align-self: flex-start;
      }

      .stepper-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;

        .stepper-circle {
          display: grid;
          place-items: center;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          font-weight: 700;
          font-size: 1.5rem;
          background-color: #fff;
          border: 1px solid var(--dark-grey);
          color: var(--dark-grey);
          flex-shrink: 0;
          padding: 0;
          cursor: pointer;

          &.active {
            background-color: var(--dark-grey, #363636);
            border-color: var(--dark-grey, #363636);
            color: #fff;
          }
        }

        .stepper-label {
          margin-block-start: 0.75rem;
          color: var(--dark-grey);
          text-align: center;
          background: none;
          border: none;
          padding: 0;
          font-size: 0.875rem;
          cursor: pointer;
        }
      }

    }
  }

}