.stepper-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-block: 1.5rem;
  padding-inline: 2rem;

  .stepper {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin-inline: auto;

    .stepper-connector {
      flex: 1;
      min-width: 20px;
      height: 0;
      border-top: 1px solid #d0d0d0;
      margin-inline: 0.25rem;
      margin-top: 20px;
      align-self: flex-start;
    }

    .stepper-step {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 auto;

      .stepper-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          font-weight: 700;
          font-size: 1rem;
          background-color: #fff;
          border: 1px solid #d0d0d0;
          color: var(--dark-grey, #363636);
          flex-shrink: 0;

          &.active {
            background-color: var(--dark-grey, #363636);
            border-color: var(--dark-grey, #363636);
            color: #fff;
          }
        }

      .stepper-label {
        margin-block-start: 0.75rem;
        font-size: 0.95rem;
        color: var(--dark-grey, #363636);
        text-align: center;
      }
    }
  }
}
