.main-layout {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.projects-layout{
  display: grid;
  grid-template-columns: minmax(150px,1fr) minmax(auto,var(--max-width)) minmax(150px,1fr);

  > * {
    grid-column: 2;
  }
}

