@media (max-width: 1350px) {
  .about-me-page {
    column-gap: 2rem;
  }

  .projects-layout {
    grid-template-columns:
      minmax(50px, 1fr) minmax(auto, var(--max-width))
      minmax(50px, 1fr);
  }

  .app-header {
    margin-inline: 50px;
  }

  .app-footer {
    margin-inline: 50px;
  }
}

@media (max-width: 1050px) {
  .kindred-page {
    .kindred-opening {
      grid-template-columns: 1fr;

      img {
        grid-column: 1;
        grid-row: 3;
      }

      &::after {
        top: -55px;
        transform: translateX(-50%);
        width: 100vw;
      }
    }

    .overview {
      column-gap: 5rem;
    }

    .stepper-header {
      height: 150px;

      .stepper-header-title {
        font-size: 2.5rem;
      }
    }

    .stepper-wrapper {
      margin-inline: 2rem;
    }

    .takeaways-reflections-next {
      column-gap: 5rem;
    }

    .takeaways-metrics {
      grid-template-columns: 1fr;

      .takeaways-metrics-fig {
        justify-self: center;
        grid-column: 1;
        grid-row: 4;
        margin-block-start: 3rem;
      }
    }
  }
}

@media (max-width: 960px) {
  .home-page {
    .home-intro-p {
      margin-block-end: 12rem;
    }
  }

  .imgs-carousel {
    max-height: 450px;

    .imgs-carousel-slide {
      img {
        bottom: 60px;
      }
    }
  }
}

@media (max-width: 810px) {
  .app-header {
    align-items: flex-end;
    margin-inline: 50px;
    padding-block: 3.47rem;

    .app-header-navigation.navigation {
      display: none;
    }

    .app-header-burger-btn {
      display: flex;
    }

    .logo {
      width: 6rem;
    }
  }

  .projects-layout {
    grid-template-columns:
      minmax(50px, 1fr) minmax(auto, var(--max-width))
      minmax(50px, 1fr);
  }

  .home-page {
    padding-block: 13rem 6rem;
    .home-intro {
      margin-block-end: 0;

      .home-intro-title {
        font-size: 2.25rem;
        margin: 0 0 0.5rem 0;
      }

      .home-intro-role {
        font-size: 1rem;
        margin: 0 0 0.5rem 0;
      }

      .home-intro-p {
        font-size: 0.875rem;
        line-height: normal;
        margin-block-end: 6.25rem;
      }
    }

    .projects {
      grid-template-columns: repeat(1, 1fr);
      gap: 2.45rem;
      width: 100%;
      justify-items: stretch;

      .home-project-quntex,
      .home-project-kindred {
        min-width: 0;

        .home-project-img {
          max-width: none;
          object-fit: cover;
          margin-block-end: 1.05rem;
        }

        .home-project-title {
          font-size: 1.5rem;
          margin: 0 0 0.5rem 0;
        }

        .home-project-desc {
          font-size: 0.875rem;
          line-height: normal;
        }
      }
    }
  }

  .app-footer {
    row-gap: 0.78rem;
    align-items: center;
    padding-block: 1.2rem;
    margin-block: 4rem;
    margin-inline: 50px;

    > img {
      width: 4.3rem;
    }

    > p {
      &.msg {
        align-self: end;
        width: 10.3rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      &.email {
        align-self: start;
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .copyright {
      font-size: 0.5rem;
      font-style: normal;
      font-weight: 400;
      bottom: 0.5rem;
      right: 0px;
    }
  }

  .about-me-page {
    justify-items: stretch;
    grid-template-columns: 1fr;
    row-gap: 0rem;

    margin-block-start: 12rem;

    .eldan-img-1,
    .eldan-img-2 {
      width: 100%;
      height: 23rem;
      margin-block-end: 2.5rem;
    }

    .eldan-img-2 {
      grid-row: 3;
    }

    .about-me,
    .what-i-do {
      margin-block-end: 6.25rem;

      h4 {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        padding-block: 0.5rem;
      }

      p {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .kindred-page {
    .kindred-opening-bg {
      grid-column: 1/-1;
      grid-row: 1;
      background-image: url("../../imgs/kindred/Image background.png");
      background-size: cover;
      background-position: top center;
    }

    .kindred-opening {
      grid-column: 1 / -1;

      h1 {
        margin-inline: 50px;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: normal;
      }

      h4 {
        margin-inline: 50px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 166%;
      }

      img {
        border-radius: 0;
        height: auto;
        width: 100%;
        margin-block-start: 4rem;
      }

      &::after {
        top: -30px;
        left: 50vw;
        height: 11.25rem;
      }
    }

    .overview {
      display: grid;
      grid-template-columns: 1fr;
      margin-block: 6.25rem;
      justify-self: center;

      h4 {
        grid-column: 1;
        font-size: 1rem;
        margin-block-end: 0.5rem;
      }

      .overview-p {
        grid-column: 1;
        margin-block-end: 6.25rem;
        font-size: 0.875rem;
        line-height: normal;
        .p-gap {
          height: 1rem;
        }
      }

      .problem-heading {
        grid-column: 1;
      }

      .solution-heading {
        grid-column: 1;
        grid-row: 5;
      }

      .problem-solution-p {
        line-height: normal;
      }
    }

    .project-details {
      margin-block-end: 6.25rem;

      .project-details-col {
        .project-details-heading {
          font-size: 1rem;
          font-weight: 400;
          line-height: 166%;
        }

        .project-details-list {
          li {
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }

    .stepper-wrapper {
      .stepper {
        .stepper-connector {
          margin-inline: 0.5rem;
        }
      }
    }

    .stepper-header {
      margin-block-end: 6.25rem;
      margin-block-start: 12.5rem;
      height: 6.25rem;

      .stepper-header-title {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .research-personas {
      padding-block-end: 0rem;
      margin-block-end: 6.25rem;

      .research-personas-heading {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 2.5rem 0;
      }

      .research-personas-subtitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 0.5rem 0;
      }

      .research-personas-intro {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0 0 2.5rem 0;
      }

      .research-personas-imgs {
        grid-template-columns: 1fr;
        gap: 2.5rem;
      }
    }

    .research-empathy {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0 0rem;

      .research-empathy-heading {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 2.5rem 0;
      }

      .research-empathy-subtitle {
        grid-column: 1;
        grid-row: 2;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 0.5rem 0;
      }

      .research-empathy-text {
        grid-column: 1;
        grid-row: 3;
        margin: 0 0 2.5rem 0;

        .research-empathy-p {
          grid-column: 1;
          grid-row: 4;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .research-empathy-fig {
        grid-column: 1;
        grid-row: 5;
      }
    }

    .challenge {
      padding-block-end: 3.25rem;

      .challenge-heading {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 2.5rem 0;
      }

      .challenge-block {
        margin-block-end: 2.5rem;

        .challenge-block-title {
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 166%;
          margin: 0 0 0.5rem 0;
        }

        .challenge-block-p {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0 0 0.5rem 0;
        }

        .challenge-hmw-list {
          padding-left: 1.5rem;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .user-journey-mapping {
      margin-block-end: 6.25rem;

      .user-journey-mapping-heading {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 2.5rem 0;
      }

      .user-journey-mapping-subtitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 0.5rem 0;
      }

      .user-journey-mapping-p {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0 0 2.5rem 0;
      }
    }

    .design-wireframes {
      grid-template-columns: 1fr;
      margin-block-end: 6.25rem;

      .design-wireframes-subtitle {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        margin: 0 0 0.5rem 0;
      }

      .design-wireframes-lofi-p {
        grid-column: 1 ;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0 0 2.5rem 0;
      }

      .above-the-fold-img {
        grid-column: 1;
      }
    }
  }
}

@media (max-width: 810px) {
}
