:root {
--home-padding-inline:14rem;
--home-padding-inline:13vw;
--margin-inline:250px;
--max-width:1420px;

--related-elements-space:5rem;
--unrelated-elements-space:12.5rem;
--beginning-of-section:12.5rem;
--end-of-section:25rem;
--header-to-subheader:5rem;
--subheader-to-paragraph:1.5rem;


/* txt */
--light-txt:#F9F9F9;
--main-txt:#868686;
--dark-grey:#363636;

/* bg */
--white-bg:#ffffff;
--light-bg:#f5f5f5;
--baby-blue-bg:#aedaf641;
--wine-bg:#872847;

}
