:root {
--home-padding-inline:14rem;
--home-padding-inline:13vw;

/* txt */
--light-txt:#ffffff;
--main-txt:#868686;
--dark-txt:#000000;
--dark-grey:#363636;

/* bg */
--white-bg:#ffffff;
--light-bg:#f5f5f5;
--baby-blue-bg:#aedaf641;

}
